.btn-action {
    font-size: 10px;
}

.td-description {
    width: 20%;
}

.td-action {
    width: 15%;
}
.td-serial{
    width: 25%;
}
.td-no {
    width: 5%;
}
.td-qty{
    width: 5%;
}

.td-article {
    width: 30%;
}
